{% extends "base.html" %}
{% block content %}

<h1>Welcome to ROS!</h1>
<br>
<p>Click <a href="/start_process">start process</a> to start an aniation process for {{ user }} on port {{ port }}. 
<br>
Your server ip is {{ ip }}.
</p>
<p>Click <a href="/find_process">find process</a> to check the status of your process.</p>
<p>Click <a href="/stop_process">stop process</a> to stop the process.</p>
<p>Click <a href="/list_process">show all </a> to list all running ROS launches.</p>
<p>Click <a href="/home">animation</a> to see a live animation.</p>
<p>Click <a href="/logout">here</a> to logout.</p>

{% endblock %}